.container
     {
            width:303px;
            height:204px;
            margin:0 auto;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
     }
     .box-conteiner
     {
         position:absolute;
     }
     .row
     {
         display:flex;
     }
     .box1
     {
         width:150px;
         height:100px;
         border:1px solid rgb(255, 0, 0);
     }
     .box2
     {
         width:150px;
         height:100px;
         border:1px solid rgb(255, 255, 0);
     }
     .box3
     {
         width:150px;
         height:100px;
         border:1px solid rgb(1, 206, 1);
     }
     .box4
     {
         width:150px;
         height:100px;
         border:1px solid rgb(190, 35, 15);
     }
     .box5
     {
         width:75px;
         height:100px;
         border:1px solid rgb(173, 55, 55);
         position:absolute;
         top: 50px;
         left: 111px;    
     }
    