*
{
    margin:0;
    padding:0;
    margin-bottom: -11px;
}
body
{
    background:#d7e7f4;
}
.container
{
    width:954px;
    margin:0 auto;
    height:640px;
    background: #fff;
}

.logo img
{
    padding: 0px 22px;
}
.row
{
    display:flex;
    justify-content: space-between;
}
.search-box 
{
    padding: 3px 22px;
}
.search-box p 
{
    padding: 20px 0px 0px 155px;
    margin:0px;
}
.search-box p a 
{
    color:#007BAF;
    font-weight:300;
}
.search-section img
{
    padding:5px 10px;
}


